@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #2F7336;

    --background: 134 27.3% 2.56%;
    --foreground: 134 4.2% 96.6%;

    --muted: 134 21.84% 11.200000000000001%;
    --muted-foreground: 134 4.2% 53.2%;

    --popover: 134 55.34% 0%;
    --popover-foreground: 134 4.2% 96.6%;

    --card: 134 55.34% 0%;
    --card-foreground: 134 4.2% 96.6%;

    --border: 134 21.84% 11.200000000000001%;
    --input: 134 21.84% 11.200000000000001%;

    --primary: 134 42% 32%;
    --primary-foreground: 134 4.2% 96.6%;

    --secondary: 134 21.84% 11.200000000000001%;
    --secondary-foreground: 134 4.2% 96.6%;

    --accent: 134 21.84% 11.200000000000001%;
    --accent-foreground: 134 4.2% 96.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 134 4.2% 96.6%;

    --ring: 134 42% 32%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}